@import "src/style/variables.scss";

.cart-selector {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: $c-cart;

  &__group {
    display: flex;
    position: relative;
    padding: 10px;

    & svg {
      width: 20px;
      height: 20px;
    }

    &-quantity {
      position: absolute;
      top: 0;
      right: 0;

      background-color: $c-text;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &-text {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: $c-background;
        user-select: none;
      }
    }
  }
}
