@import "src/style/variables.scss";

.cart-selector {
  display: flex;
  padding: 10px;
  cursor: pointer;

  color: $c-cart;

  & svg {
    width: 20px;
    height: 20px;
  }

  &--selected {
    color: $c-primary;
  }
}
