@import "src/style/variables.scss";

.currency-selector {
  cursor: pointer;
  user-select: none;

  color: $c-text;
  font-size: 18px;
  font-weight: 500;

  &__group {
    display: flex;
    align-self: center;
    align-items: center;
    padding: 10px;

    $translateY: 2px;
    &-arrow {
      margin-left: 10px;
      transform: translateY($translateY);

      &--selected {
        transform: translateY($translateY) rotate(180deg);
      }
    }
  }
}
