@import "src/style/variables.scss";

.currency-selector {
  display: flex;
  justify-content: flex-end;

  cursor: pointer;
  user-select: none;

  color: $c-text;
  font-size: 18px;
  font-weight: 500;
  z-index: 9;

  &__overlay {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
  }

  &__group {
    padding: 10px;
    z-index: 10;
    display: flex;
    align-self: center;
    align-items: center;

    $translateY: 2px;
    &-arrow {
      margin-left: 10px;
      transform: translateY($translateY);

      &--selected {
        transform: translateY($translateY) rotate(180deg);
      }
    }
  }
}
