@import "src/style/variables.scss";

.main-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 100%;
  min-height: 100%;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  &-green {
    color: $c-background;
    background-color: $c-primary;

    &:active:enabled {
      opacity: 90%;
    }
  }

  &-white {
    color: $c-text;
    background-color: $c-background;
    outline: 1px solid $c-text;
    outline-offset: -1px;

    &:active:enabled {
      background-color: $c-button-hover;
    }
  }

  &:disabled {
    opacity: 50%;
    cursor: default;
  }
}
