@import "src/style/variables.scss";

.attribute-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $c-text;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;

  &-big {
    width: $attr-width;
    height: $attr-height;
  }

  &-mini {
    width: $attr-width-mini;
    height: $attr-height-mini;
  }

  &--selected-swatch {
    outline: 3px solid $c-background;
    outline-offset: -4px;
  }
}

input {
  display: none;

  &:checked {
    & + .attribute-button--selected {
      color: $c-background;
      background-color: $c-text;
    }

    & + .attribute-button--selected-swatch {
      border: 2px solid $c-primary;
      outline-width: 2px;
    }
  }

  &:disabled + .attribute-button {
    cursor: default;
  }

  &:disabled:not(:checked) + .attribute-button {
    color: $c-button-unavailable;
    border-color: $c-button-unavailable;
  }
}
