@import "src/style/variables.scss";

.product-shortcut {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $common-z-index;
  top: $navbar-height;
  left: 0;
  right: 0;
  bottom: 0;

  &__card {
    position: fixed;
    display: flex;
    background-color: $c-background;
    padding: 32px 16px;
    z-index: $common-z-index;
    box-shadow: $common-shadow;
  }
}
