@import "src/style/variables.scss";

.currency-button {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  cursor: pointer;
  user-select: none;

  &:hover {
    color: $c-primary;
  }
}
