@import "src/style/variables.scss";

.currency-button {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  color: $c-text;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $c-button-hover;
  }
}
