@import "src/style/variables.scss";

.arrows {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-between;

  right: calc($galley-img-width + 20px);
  height: $galley-img-height;

  &__up,
  &__down {
    color: rgba($color: $c-text, $alpha: 0.7);
    width: 120px;
    height: 8px;
  }

  &__up {
    transform: translateY(-10px) rotate(180deg);
  }

  &__down {
    transform: translateY(10px);
  }
}
