@import "src/style/variables.scss";

.navigation-bar {
  flex-direction: row;
  display: flex;
  height: $navbar-height;
  margin: 0 100px;

  &__logo {
    flex: 0 0 auto;
    align-self: center;
  }
}
