@import "src/style/variables.scss";

.mini-cart {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: $common-z-index;
  top: $common-top;

  color: $c-text;
  font-size: 16px;
  line-height: 26px;
  padding: 32px 16px;

  background: $c-background;
  box-shadow: $common-shadow;
  cursor: default;

  &__buttons {
    display: flex;
    gap: 12px;
    width: $product-options-width;
  }

  /* Scroll config */
  max-height: calc(100% - (2 * $common-top));
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
