@import "src/style/variables.scss";

.mini-cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: $common-z-index;
  top: $navbar-height;
  max-height: calc(100% - (2 * $navbar-height));

  color: $c-text;
  font-size: 16px;
  line-height: 26px;
  padding: 32px 16px;

  background: $c-background;
  box-shadow: $common-shadow;
  cursor: default;

  &__items {
    z-index: $common-z-index;
    overflow-y: auto;
  }

  &__buttons {
    display: flex;
    gap: 12px;
    min-width: $product-options-width;
    min-height: 40px;
  }
}
