@import "src/style/variables.scss";

.product-info {
  display: flex;
  flex-direction: column;
  width: $product-options-width;

  &__description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $c-text;
    margin-top: 40px;
    max-height: 250px;
    overflow-y: auto;
  }
}
