@import "src/style/variables.scss";

.currency-list {
  position: absolute;
  flex-direction: column;
  background: $c-background;
  box-shadow: $common-shadow;
  padding: 10px 0;
  top: 65px;
  transform: translateX(47px);
  cursor: default;
  z-index: $common-z-index;
}
