@import "src/style/variables.scss";

.currency-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: $c-background;
  box-shadow: $common-shadow;
  top: $navbar-height;
  cursor: default;
  z-index: $common-z-index;
  color: $c-text;
  font-size: 18px;
  font-weight: 500;
}
