@import "src/style/variables.scss";

.product-options {
  display: flex;
  flex-direction: column;
  background-color: $c-background;
  width: $product-options-width;
  color: $c-text;

  &__attributes {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__button {
    height: 50px;
  }
}
