@import "src/style/variables.scss";

.product-options {
  display: flex;
  flex-direction: column;
  background-color: $c-background;
  width: $product-options-width;
  color: $c-text;

  &__brand {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__name {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  &__attributes {
    margin-bottom: 40px;
  }

  &__price-label {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__price-value {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
