@import "src/style/variables.scss";

.gallery {
  position: relative;
  display: flex;

  &__showcase {
    width: $galley-img-width;
    height: $galley-img-height;
    object-fit: scale-down;
  }
}
