$c-primary: #5ece7b;
$c-text: #1d1f22;
$c-text-unavailable: #8d8f9a;
$c-background: #ffffff;
$c-button-hover: #eeeeee;
$c-button-unavailable: #a6a6a6;
$c-cart: #43464e;
$c-divider: #e5e5e5;
$c-overlay: rgba(57, 55, 72, 0.22);

$card-img-width: 354px;
$card-img-height: 330px;
$galley-img-width: 610px;
$galley-img-height: 510px;
$product-options-width: 292px;
$attr-width: 64px;
$attr-height: 45px;
$attr-width-mini: 24px;
$attr-height-mini: 24px;
$mini-cart-column-width: 140px;

$common-top: 65px;
$common-shadow: 0 0 4px 4px rgba(black, 0.03);
$common-z-index: 110;
