.attribute-selector {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &__label {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &-mini {
    display: flex;
    flex-direction: column;

    &__label {
      font-size: 14px;
      margin: 4px 0;
    }

    &__options {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
