.attribute-selector {
  display: flex;
  flex-direction: column;

  &__options {
    display: flex;
    flex-wrap: wrap;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-big {
    margin-bottom: 24px;

    &__label {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    &__options {
      gap: 12px;
    }
  }

  &-mini {
    &__label {
      font-size: 14px;
      margin: 4px 0;
    }

    &__options {
      gap: 8px;
    }
  }
}
