@import "src/style/variables.scss";

.overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: $navbar-height;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  z-index: $common-z-index;

  &--color {
    background-color: $c-overlay;
  }
}
