@import "src/style/variables.scss";

.cart-total {
  &-big {
    margin: 16px 0;
    font-size: 24px;

    &__text {
      font-weight: 500;
    }

    &__value {
      font-weight: 700;
    }
  }

  &-big-tax {
    font-size: 24px;

    &__value {
      font-weight: 700;
    }
  }

  &-mini {
    display: flex;
    justify-content: space-between;

    margin-top: 12px;
    margin-bottom: 32px;
    font-size: 16px;

    &__text {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
    }

    &__value {
      font-weight: 700;
    }
  }
}
