@import "src/style/variables.scss";

.quantity-manager {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    border: 1px solid $c-text;
    cursor: pointer;
    user-select: none;

    & svg {
      width: 40%;
      height: 40%;
    }
  }

  &-big {
    margin: 0 24px;

    &__text {
      font-size: 24px;
    }

    &__buttons {
      width: 45px;
      height: 45px;
    }
  }

  &-mini {
    margin: 0 4px;

    &__text {
      font-size: 16px;
    }

    &__buttons {
      width: $attr-width-mini;
      height: $attr-height-mini;
    }
  }
}
